a{
	text-decoration: none;
}
#st_register{
	height: 400px;
	width: 100%;
	position: relative;
	font-family: 'Microsoft YaHei',Verdana,tahoma,Helvetica,Arial;
    color: #666;
}
#st_register .st_ul2{
	height: 400px;
	width: 100%;
	position: relative;
}
#st_register .st_ul2 li{
	position: absolute;
	width: 100%;
	height: 400px;
	opacity: 0;
	transition: 0.5s;
}
#st_register .st_ul2 li:nth-of-type(1){
	background: url('https://static.pp100.com/images?uuid=94752e0f-d877-4191-bb70-51557c647838') no-repeat center top;
}
#st_register .st_ul2 li:nth-of-type(2){
	background: url('https://static.pp100.com/images?uuid=09524a71-b110-462a-ae6a-f9b138fdadf7') no-repeat center top;
}
#st_register .st_ul2 li:nth-of-type(3){
	background: url('https://static.pp100.com/images?uuid=09c320be-035f-4640-bb0a-d35518f24396') no-repeat center top;
}
#st_register .st_ul2 li:nth-of-type(4){
	background: url('https://static.pp100.com/images?uuid=b5ec140c-dd2a-4979-905e-3b72268128c7') no-repeat center top;
}
#st_register .st_ul2 li:nth-of-type(5){
	background: url('https://static.pp100.com/images?uuid=5db5d1e6-0f78-47b5-bb7f-4443ff99c1f2') no-repeat center top;
}
#st_register .st_ul2 li:nth-of-type(6){
	background: url('https://static.pp100.com/images?uuid=2cbf2215-6995-4b0f-8e91-7075cb68d391') no-repeat center top;
}
#st_register .st_ul2 li:nth-of-type(7){
	background: url('https://static.pp100.com/images?uuid=b0ecabce-d236-4a6d-8ae5-f3a025ca173f') no-repeat center top;
}

#st_register .st_ol2{
	position: absolute;
	top: 380px;
	overflow: hidden;
	left: 40%;
}
#st_register .st_ol2 li{
	width: 24px;
	height: 5px;
	background: white;
	margin-right: 11px;
	float: left;
	cursor: pointer;
}

#st_login{
	position: absolute;
    top: 0;
    left: 50%;
    margin: 34px 0 0 190px;
    z-index: 999;
    opacity: 1;
    width: 380px;
    background: white;
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 5px #666;
}
#st_login .st_wrapp{
	margin: 0 auto;
	width: 316px;
}
#st_login h2{
	height: 50px;
    border-bottom: 1px solid #dbdbdb;
    margin: 20px auto;
    line-height: 50px;
    overflow: hidden;
    font-weight: normal;
}
#st_login h2 span{
	cursor: pointer;
    font-size: 18px;
    padding: 0 10px;
    margin-top: -1px;
    color: #666
}
#st_login h2 span:nth-of-type(1){
	float: left;
}
#st_login h2 span:nth-of-type(2){
	float: right;
}

#st_pass h3{
	position: relative;
	overflow: hidden;
}
#st_pass h3:nth-of-type(1){
	margin-bottom: 30px;
}
#st_pass h3 input{
	width: 234px;
    height: 52px;
    line-height: 52px;
    font-family: "微软雅黑";
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding-left: 80px;
    color: #999;
    float: left;
    outline-color: #0bb782;
    
}
#st_pass h3 span{
	position: absolute;
    top: 1px;
    left: 1px;
    width: 66px;
    height: 52px;
    display: block;
    background: #f2f3f7;
    border-radius: 4px 0 0 4px;
}
#st_pass h3 span i{
	background:url('../images/module_z.png') no-repeat;
	width: 28px;
    height: 32px;
    margin: 10px auto;
    display: block;
    font-style: normal;
}
#st_pass h3:nth-of-type(1) span i{
	background-position: -69px -224px;
}
#st_pass h3:nth-of-type(2) span i{
	background-position: -69px -259px;
}

#st_pass h4{
	overflow: hidden;
	height: 54px;
    width: 316px;
    position: relative;
    margin-top: 20px;
    display: none;
}
#st_pass h4 input{
	height: 52px;
    line-height: 52px;
    font-family: "微软雅黑";
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding-left: 80px;
    color: #999;
    float: left;
    width: 88px;
    outline-color: #0bb782;
}
#st_pass h4 span{
	position: absolute;
    top: 1px;
    left: 1px;
    width: 66px;
    height: 52px;
    display: block;
    background: #f2f3f7;
    border-radius: 4px 0 0 4px;
}
#st_pass h4 span img{
	width: 28px;
    height: 32px;
    margin: 10px auto;
    display: block;
}
#st_pass h4 em{
	float: left;
	width: 82px;
    height: 50px;
    background: #C8C8CE;
    text-align: center;
    line-height: 50px;
    color:#0085FF; 
    font-size: 20px;
    margin-left: 5px;
    background: -webkit-gradient(linear, 0% 0%, 70% 100%, from(#aaa), to(#fff)); 
    border: 1px solid black; 
    font-style: normal;
    cursor: pointer; 
}
#st_pass h4 b{
	background: url('../images/module_z.png');
	background-position: -57px -329px;
	width: 40px;
    height: 50px;
    display: block;
    border: 1px solid #dbdbdb;
    float: right;
    cursor: pointer;
    background-repeat: no-repeat;
}
#st_pass h4 b:hover{
	background-position: -57px -382px;
}
#st_pass .st_login_p{
	height: 30px;
	line-height: 30px;
    color: #f96c5a;
    font-size: 14px;
}
#st_pass button{
	width: 316px;
    height: 52px;
    display: block;
    background: #0bb782;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
    line-height: 52px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
#st_pass button:hover{
	background: #5ed3c5;
}
#st_pass .st_login_pass{
	overflow: hidden;
	padding: 10px 0;
}
#st_pass .st_login_pass a{
	float: right;
	font-size: 12px;
	display: block;
}
#st_pass .st_login_pass a:nth-of-type(1){
	color: #f96c5a;
	
}
#st_pass .st_login_pass a:nth-of-type(2){
	color: #bfbdbd;
	padding-right: 10px;
	border-right: 1px solid #dbddbd
}
#st_pass .st_login_pass a:nth-of-type(2):hover{
	color: #f96c5a;
}
#st_wx{
	display: none;
}
#st_wx .st_wx_img{
	overflow: hidden;
}
#st_wx .st_wx_img img{
	float: left;
	width: 158px;
    height: 158px;
}
#st_wx h3{
	text-align: center;
	font-weight: normal;
	font-size: 14px;
	font-family: 'Microsoft YaHei',Verdana,tahoma,Helvetica,Arial;
    color: #666;
}
#st_wx h3 span:nth-of-type(1){
	margin-right:110px ;
}
#st_wx h4{
    margin: 15px auto;
    font-weight: normal;
}
#st_wx h4 p{
	text-align: center;
	line-height: 30px;
	font-size: 14px;
    font-family: 'Microsoft YaHei',Verdana,tahoma,Helvetica,Arial;
    color: #666;
}

#st_login .st_mm_sp{
	border-bottom: 1px solid #0bb782;
}
